body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
}

.container {
    width: 570px;
    margin: 0 auto;
    padding: 100px 0;
}

.bold-text {
    font-weight: 900;
    display: block;
}

h1 .bold-text {
    font-size: 80px;
}

h2 .bold-text {
    font-size: 60px;
}

h1,
h2 {
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #131313;
}

.small-text {
    font-size: 16px;
    margin-top: 2px;
}

.container-top {
    background-color: #D7D7D7;
}

.container-mid {
    background-color: #FFEAEA;
}

.container-bottom {
    background-color: #EAF9FF;
}

img {
    border-radius: 50%;
    width: 150px;
    text-align: center;
}

.dark-mode {
    background-color: #252525;
    color: #FFF;
} 

.link-btn {
    text-decoration: none;
    padding: 12px 20px;
    background-color: #99D930;
    color: #252525;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 0px;
}

.link-btn:hover,
.link-btn:focus {
    color: #fff;
    background-color: #252525;
}