body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

.container {
    width: 570px;
    margin: 0 auto;
}

h1,
h2 {
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.heading-span {
    font-weight: 900;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

.small-text {
    font-size: 16px;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover {
    color: #131313;
}